<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.jmixbpmdemo/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.jmixbpmdemo.view.user/UserListView.title"/>
        <item view="PizzaItem.list" title="msg://com.company.jmixbpmdemo.view.pizzaitem/pizzaItemListView.title"/>
        <item view="OrderLine.list" title="msg://com.company.jmixbpmdemo.view.orderline/orderLineListView.title"/>
        <item view="PizzaOrder.list" title="msg://com.company.jmixbpmdemo.view.pizzaorder/pizzaOrderListView.title"/>
    </menu>

</menu-config>